dj-database-url==0.4.2
Django==1.11.4
django-debug-toolbar==1.8
gunicorn==19.7.1
pkg-resources==0.0.0
psycopg2==2.7.3
psycopg2-binary==2.8.5
pytz==2017.2
PyYAML==5.3.1
sqlparse==0.2.3
whitenoise==3.3.0
